<%- include("../partials/header") %>

    <div class="container mt-5">
        <h2>Login (NGO)</h2>
        <form action="/auth/login/ngo" method="POST">
            <div class="mb-3">
                <input name="email" type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <input name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-success">Login</button>
            <p class="mt-3">
                NGO not registered? <a href="/auth/register/ngo">Register your NGO</a>
            </p>

        </form>
    </div>

    <%- include("../partials/footer") %>