<%- include("../../partials/header") %>

    <div class="container mt-5">
        <h2>Volunteer Login</h2>
        <form action="/volunteer/login" method="POST">
            <input class="form-control" name="email" type="email" placeholder="Email" required />
            <input class="form-control mt-2" name="password" type="password" placeholder="Password" required />
            <button class="btn btn-success mt-3">Login</button>
        </form>
    </div>

    <%- include("../../partials/footer") %>